ul li{
  list-style: none;
}
.courseName{
  width: 30%;
  background-color: rgb(148, 65, 227);
  color: aliceblue;
  font-size: 1rem;
  height: 70px;
  padding: 1rem;
  border-radius: 10px;
  
}

.courseName:hover{
  background-color: darkgray;
  color: black;
}